@page "/"

<h3>Library Management System</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Manage Books</h4>
            <NavLink href="/managebooks" class="nav-link">Manage Books</NavLink>
        </div>
        <div class="col-md-6">
            <h4>Manage Users</h4>
            <NavLink href="/manageusers" class="nav-link">Manage Users</NavLink>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Borrow Books</h4>
            <NavLink href="/borrowreturn" class="nav-link">Borrow Books</NavLink>
        </div>
        <div class="col-md-6">
            <h4>List Borrowed Books</h4>
            <NavLink href="/listborrowedbooks" class="nav-link">List Borrowed Books</NavLink>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Return Borrowed Books</h4>
            <NavLink href="/returnbooks" class="nav-link">Return Borrowed Books</NavLink>
        </div>
    </div>
</div>
